# Exam Tips - Ghee do van Rossum

Exam Tips.
Keywords, Objects, Function, Module, Method.

keyword.kwlist
help(keyword)
help(objects, function, module)
help(object/module.method)

dir(object, module)

keyword?
function?
Module?
Object?

# Lists - Mutable collection

In [145]:
m1 = ["Hello", 123,2,3]
print(type(m1))
m1

<class 'list'>

['Hello', 123, 2, 3]

In [146]:
m1[0][2] #list traversal

'l'

In [147]:
m1 = list('abhishek')
print(m1)

['a', 'b', 'h', 'i', 's', 'h', 'e', 'k']

In [148]:
m1

['a', 'b', 'h', 'i', 's', 'h', 'e', 'k']

In [149]:
m1[1] = 'k'
m1
print(len(m1))

8

In [150]:
[1,2,3] + [4,5,'hello'] #list concatenation

[1, 2, 3, 4, 5, 'hello']

In [151]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

List Traversal is same for String Traversal

In [152]:
'i' in m1

True

In [153]:
m2 = ['nse','bse','nyse']
# m2[0][0] = 'a' #It will not let item assignment as strings are immutable

In [154]:
m3 = [

        [1,2,3],
        [4,5,6]
]
m3[-1][-1]

6

In [155]:
print(dir(list),end = ',')

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort'],

In [156]:
m2

['nse', 'bse', 'nyse']

In [157]:
m2.append(2)
m2

['nse', 'bse', 'nyse', 2]

In [158]:
m2.extend('2') #extend only takes string or object but not a single number it is like merging2 lists
print((m2) ,end=',')

['nse', 'bse', 'nyse', 2, '2'],

In [159]:
m2.insert(1,22)
print((m2) ,end=',')

['nse', 22, 'bse', 'nyse', 2, '2'],

In [160]:
print((m2) ,end=',')
r = m2.pop(3) #position or empty deletes defualt last value
print(r)
print((m2) ,end=',')

['nse', 22, 'bse', 'nyse', 2, '2'],nyse
['nse', 22, 'bse', 2, '2'],

In [162]:
print((m2) ,end=',')
m2.reverse() #reverse the string
m2

['nse', 22, 'bse', 2, '2'],

['2', 2, 'bse', 22, 'nse']

In [163]:
m3 = [1,2,3]
print(max(m3))
print(min(m3))

3
1

In [164]:
m4 = [23,43,22,34,44,99] # sorting is not possible with int and str
m4.sort()
m4

[22, 23, 34, 43, 44, 99]

In [165]:
m4 = [23,43,22,34,44,99]
m4.sort(reverse = True) # Or False
m4

[99, 44, 43, 34, 23, 22]

In [166]:
isinstance(2,(int,str)) #check yea or no takes 2 arguments

True

# Copy method

In [167]:
m1 = [11,22,33,44,[1,2,3],55]
m2 = m1
m1.append(66)
print(m1)
print(m2)

[11, 22, 33, 44, [1, 2, 3], 55, 66]
[11, 22, 33, 44, [1, 2, 3], 55, 66]

In [168]:
m1 = [1,2,3,4,5,[6,7,8]]
m2 = m1.copy()
m1[5].append(41)
m1.append(44)
print(m1)
print(m2)

[1, 2, 3, 4, 5, [6, 7, 8, 41], 44]
[1, 2, 3, 4, 5, [6, 7, 8, 41]]

In [169]:
import copy
m1 = [1,2,3,4,5,[6,7,8]]
m2 = copy.deepcopy(m1)
m1.append(10)
print(m1)
print(m2)

[1, 2, 3, 4, 5, [6, 7, 8], 10]
[1, 2, 3, 4, 5, [6, 7, 8]]

In [170]:
m1 = [1,2,3,4,5,5]
m1.count(5)

2

In [171]:
m1 = list('python')
m1.count('p')

1

In [172]:
m1.index('n')

5

In [173]:
m1 = 'python' #index returns error for no value where find returns -1 for no value
m1.find('m')

-1

# Tuple - Immutable collection

In [174]:
print(dir(tuple),end =',')

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index'],

In [175]:
m1 = tuple([1,2,3]) #tuple of list
m2 = tuple('abhi') #tuple of string
m3 = tuple({1,2,3}) #tuple of set
m3

(1, 2, 3)

In [176]:
m1[0::2]

(1, 3)

In [177]:
3 in m1

True

In [178]:
'b' in m2

True

In [ ]:
t1 = (1,2,3,4)
t1[0] = 5 #item assignment is not possible

In [180]:
t2 = (1,2,3,4) #convert tuple to list and add elements and convert it back tp list
print(id(t2))
tlist = list(t2)
print(tlist)
tlist.extend([5,6,7,8])
print(tlist)
t2 = tuple(tlist)
print(t2)
print(id(t2))

2339388196960
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8]
(1, 2, 3, 4, 5, 6, 7, 8)
2339389327296

In [181]:
del t2 #To delete any collection but not element of immutable collection

# Dictionary - Mutable Collection

In [182]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'CITY':'DELHI', 91:'India'}
print(type(md1))
print(len(md1))
print(md1)

<class 'dict'>
4
{'Bank': 'SBI', 'Branch': 'MGROAD', 'CITY': 'DELHI', 91: 'India'}

In [183]:
md1['Bank']

'SBI'

In [184]:
md1['Continent'] = 'Asia'
print(md1)

{'Bank': 'SBI', 'Branch': 'MGROAD', 'CITY': 'DELHI', 91: 'India', 'Continent': 'Asia'}

In [185]:
del md1['Continent']

In [186]:
md1

{'Bank': 'SBI', 'Branch': 'MGROAD', 'CITY': 'DELHI', 91: 'India'}

In [187]:
md1.clear() #clear the dictionary

In [188]:
md1

{}

In [189]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'CITY':'DELHI', 91:'India'}
print(md1)

{'Bank': 'SBI', 'Branch': 'MGROAD', 'CITY': 'DELHI', 91: 'India'}

In [190]:
k = md1.keys()
v = md1.values()
print(k)
print(v)

dict_keys(['Bank', 'Branch', 'CITY', 91])
dict_values(['SBI', 'MGROAD', 'DELHI', 'India'])

In [191]:
klist = list(k)
vlist = list(v)
print(klist, vlist)

['Bank', 'Branch', 'CITY', 91] ['SBI', 'MGROAD', 'DELHI', 'India']

In [192]:
ilist = list(md1.items()) #List of tuples with dictionary key value pairs
print(ilist)

[('Bank', 'SBI'), ('Branch', 'MGROAD'), ('CITY', 'DELHI'), (91, 'India')]

In [193]:
print(md1)
md1.get('Branch')
md1.get('Country','Unknown_key')

{'Bank': 'SBI', 'Branch': 'MGROAD', 'CITY': 'DELHI', 91: 'India'}

'Unknown_key'

In [194]:
print(md1)

{'Bank': 'SBI', 'Branch': 'MGROAD', 'CITY': 'DELHI', 91: 'India'}

In [195]:
md1['City'] = 'Delhi'
md1.pop('City')
md1

{'Bank': 'SBI', 'Branch': 'MGROAD', 'CITY': 'DELHI', 91: 'India'}

In [196]:
#nested dictionry
md2 = {'Bank':{0:'SBI',1:'ICICI'}, 'Branch':'MGROAD', 'CITY':'DELHI', 91:'India'}
print(md2)
md2['Bank'][1]

{'Bank': {0: 'SBI', 1: 'ICICI'}, 'Branch': 'MGROAD', 'CITY': 'DELHI', 91: 'India'}

'ICICI'

In [197]:
md1
md1.setdefault(100) #adds default none for keys that doesn't exist
md1

{'Bank': 'SBI', 'Branch': 'MGROAD', 'CITY': 'DELHI', 91: 'India', 100: None}

In [198]:
md1.setdefault('Bank','ICICI') #doesn't add or update for the keys that exist
md1

{'Bank': 'SBI', 'Branch': 'MGROAD', 'CITY': 'DELHI', 91: 'India', 100: None}

In [199]:
md2 = {'Bank':{0:'SBI',1:'ICICI'}, 'Branch':'MGROAD', 'CITY':'DELHI', 91:'India'}
md2.update(md1) #doesn't update the nested dictionary
print(md1,md2)

{'Bank': 'SBI', 'Branch': 'MGROAD', 'CITY': 'DELHI', 91: 'India', 100: None} {'Bank': 'SBI', 'Branch': 'MGROAD', 'CITY': 'DELHI', 91: 'India', 100: None}

In [200]:
#zip and can be only viewd once after zipping

klist = [1,2,3]
mlist = ['PDS','SQL','ML1','ML2']
z = zip(klist,mlist)
print(list(z))

[(1, 'PDS'), (2, 'SQL'), (3, 'ML1')]

In [201]:
klist = [1,2,3]
mlist = ['PDS','SQL','ML1','ML2']
print(dict(zip(klist,mlist)))

{1: 'PDS', 2: 'SQL', 3: 'ML1'}

# SET - Mutable but elements are immutable

In [202]:
ms1 = set()

In [203]:
# Set from tuple, list, str is possible and with dictionary items
ms1 = {1,2,3,4,5,6,7,8,9}
print(ms1)
ms2 = set('abhi')
print(ms2)
ms3 = set([1,2,3,4,5,'abhi'])
print(ms3)
ms4 = set((1,2,3,4))
print(ms4)
dicti = {1:2,3:4,5:6}
ms5 = set(dicti.items())
print(ms5)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{'a', 'i', 'h', 'b'}
{1, 2, 3, 4, 5, 'abhi'}
{1, 2, 3, 4}
{(1, 2), (3, 4), (5, 6)}

In [204]:
ms1.pop()
ms1
ms1.add(2)
ms1

{2, 3, 4, 5, 6, 7, 8, 9}

In [205]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [209]:
print(ms1.union(ms2))
print(ms1.intersection(ms2))
print(ms1.symmetric_difference(ms2))

{'a', 2, 3, 4, 5, 6, 7, 8, 9, 'i', 'b', 'h'}
set()
{'a', 2, 3, 4, 5, 'i', 6, 7, 8, 9, 'b', 'h'}

In [233]:
set1 = {1,2,3}
set1.add((1,2,3))
set1

{(1, 2, 3), 1, 2, 3}

Note: A set and Tuple can go inside a list but not viceversa

In [234]:
a = {1,2,3}
b = [4,5,6]
b.extend(a)
b

[4, 5, 6, 1, 2, 3]

In [235]:
a = 'abhi'
hash(a)

6460831547240754399

In [1]:
s = set()
s = {1,2,3}
print(s)

{1, 2, 3}

In [5]:
q = set((1,2,3))
q

{1, 2, 3}

In [8]:
s = frozenset((1,2,3))
print(s)

frozenset({1, 2, 3})

Important Note : Immutable are hashable and Mutable are Unhashable